$main-color: #0282f9;
$main-gray-bg: #1c1c1c;
$footer-gray-bg: #303030;
$main-accent: #ffffff;
$main-dark-color: black;
$text-gray: #a9a9a9;
$text-light-gray: #e6e6e6;

//hover
$main-accent-hover: rgb(238, 238, 238);
$main-color-hover: #389bf8;

//active
$main-color-active: #63b2fc;